# Dependencies
node_modules/

# Build directories
/dist/
/build/

# Temporary files
*.zip
*.log
.DS_Store

# Environment variables
.env

# Lock files (optional, depending on your preference)
package-lock.json
yarn.lock

# IDE files (if applicable)
.vscode/
.idea/
*.iml

# OS files
Thumbs.db

front-end/build/
